
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Creamos la web de Kmakus</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--kmakus-green: #65bec2;
		--black: #000;
		--white: #fff;
		--back: #566d8f;
	}

	html,
	body {
		margin: 14px 20px;
		background-color: var(--back);
		color: var(--white);
		font-family: 'Montserrat', sans-serif;
	}
</style>
