
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:type" content="website">
		<meta property="og:title" content="Construyendo un Hogar Digital para KMAKUS | Proyecto Solidario con Astro">
		<meta property="og:url" content="https://landing-kmakus.pages.dev/">
		<meta property="og:image" content="https://landing-kmakus.pages.dev/images/sponsors/logoKMAKUS-1.webp">
		<meta property="og:description" content="Landing de la creación de la página web para la protectora de animales KMAKUS con la comunidad de AnalAIzer.digital">
		<meta property="article:author" content="Javi Lázaro">
		<meta property="article:published_time" content="2025-11-25T23:51+01:00">
		<meta property="article:modified_time" content="2025-11-26T23:51+01:00">
		<title>Construyendo un Hogar Digital para KMAKUS</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root {
		--kmakus-green: #65bec2;
		--black: #000;
		--white: #fff;
		--back: #566d8f;
	}

	html,
	body {
		margin: 14px 20px;
		background-color: var(--back);
		color: var(--white);
		font-family: 'Montserrat', sans-serif;
	}
</style>
